# Computational Linear Algebra: PCA Homework

## Initialization:
Fill the missing values in this text box and in the following code-cell.

**Academic Year:** 2024/2025

### Team Members (Alphabetical Order):
1. Lauro, Fabio (s318121);
2. Surname2, Name2 (StudentID2).

In [1]:
StudentID1 = 318121
StudentID2 = 317331

## Starting Code-Cell 
### Attention: DO NOT CHANGE THE CODE INSIDE THE FOLLOWING CELL!

In [67]:
####################################################################
############## DO NOT CHANGE THE CODE IN THIS CELL #################
####################################################################

import numpy as np

var_entertainment_feat_types = ['Interests', 'Movies', 'Music']
var_personal_feat_types = ['Finance', 'Phobias']
fixed_feat_types = ['Personality', 'Health']

label_types = ['Demographic']

variables_by_type = {
    'Demographics': ['Age', 'Height', 'Weight', 'Number of siblings', 
                     'Gender', 'Hand', 'Education', 'Only child', 'Home Town Type',
                     'Home Type'],
    'Finance': ['Finances', 'Shopping centres', 'Branded clothing', 
                'Entertainment spending', 'Spending on looks', 
                'Spending on gadgets', 'Spending on healthy eating'],
    'Health': ['Smoking', 'Alcohol', 'Healthy eating'],
    'Interests': ['History', 'Psychology', 'Politics', 'Mathematics', 
                  'Physics', 'Internet', 'PC', 'Economy Management', 
                  'Biology', 'Chemistry', 'Reading', 'Geography', 
                  'Foreign languages', 'Medicine', 'Law', 'Cars', 
                  'Art exhibitions', 'Religion', 'Countryside, outdoors', 
                  'Dancing', 'Musical instruments', 'Writing', 'Passive sport', 
                  'Active sport', 'Gardening', 'Celebrities', 'Shopping', 
                  'Science and technology', 'Theatre', 'Fun with friends', 
                  'Adrenaline sports', 'Pets'],
    'Movies': ['Movies', 'Horror', 'Thriller', 'Comedy', 'Romantic', 
               'Sci-fi', 'War', 'Fantasy/Fairy tales', 'Animated', 
               'Documentary', 'Western', 'Action'],
    'Music': ['Music', 'Slow songs or fast songs', 'Dance', 'Folk', 
              'Country', 'Classical music', 'Musical', 'Pop', 'Rock', 
              'Metal or Hardrock', 'Punk', 'Hiphop, Rap', 'Reggae, Ska', 
              'Swing, Jazz', 'Rock n roll', 'Alternative', 'Latino', 
              'Techno, Trance', 'Opera'],
    'Personality': ['Daily events', 'Prioritising workload', 
                    'Writing notes', 'Workaholism', 'Thinking ahead', 
                    'Final judgement', 'Reliability', 'Keeping promises', 
                    'Loss of interest', 'Friends versus money', 'Funniness', 
                    'Fake', 'Criminal damage', 'Decision making', 'Elections', 
                    'Self-criticism', 'Judgment calls', 'Hypochondria', 
                    'Empathy', 'Eating to survive', 'Giving', 
                    'Compassion to animals', 'Borrowed stuff', 
                    'Loneliness', 'Cheating in school', 'Health', 
                    'Changing the past', 'God', 'Dreams', 'Charity', 
                    'Number of friends', 'Punctuality', 'Lying', 'Waiting', 
                    'New environment', 'Mood swings', 'Appearence and gestures', 
                    'Socializing', 'Achievements', 'Responding to a serious letter', 
                    'Children', 'Assertiveness', 'Getting angry', 
                    'Knowing the right people', 'Public speaking', 
                    'Unpopularity', 'Life struggles', 'Happiness in life', 
                    'Energy levels', 'Small - big dogs', 'Personality', 
                    'Finding lost valuables', 'Getting up', 'Interests or hobbies', 
                    "Parents' advice", 'Questionnaires or polls', 'Internet usage'],
    'Phobias': ['Flying', 'Storm', 'Darkness', 'Heights', 'Spiders', 'Snakes', 
                'Rats', 'Ageing', 'Dangerous dogs', 'Fear of public speaking']
}

labels = variables_by_type['Demographics']

try:
    random_seed = min([StudentID1, StudentID2])
except NameError:
    random_seed = StudentID1

def which_featgroups():
    np.random.seed(random_seed)
    these_entertainments = np.random.choice(var_entertainment_feat_types, 2, replace=False).tolist()
    these_personal = np.random.choice(var_personal_feat_types, 1, replace=False).tolist()
    these_types = fixed_feat_types + these_personal + these_entertainments
    print('*** THESE ARE THE SELECTED TYPE OF VARIABLES:')
    for k in these_types:
        print(f'{k}')
    print('*************************************')
    return these_types

def which_features(these_types):
    np.random.seed(random_seed)
    these_features = []
    for type in these_types:
        if type != 'Personality':
            these_features += variables_by_type[type]
        else:
            these_features += np.random.choice(variables_by_type[type], 
                                               int(2 * (len(variables_by_type[type]) / 3)), 
                                               replace=False).tolist()
    print('*** THESE ARE THE SELECTED FEATURES:')
    for ft in these_features:
        print(f'{ft}')
    print('*************************************')
    return these_features

these_types = which_featgroups()
these_features = which_features(these_types)

np.random.seed(random_seed)

*** THESE ARE THE SELECTED TYPE OF VARIABLES:
Personality
Health
Phobias
Music
Interests
*************************************
*** THESE ARE THE SELECTED FEATURES:
Charity
Giving
Assertiveness
Dreams
Getting up
Workaholism
Happiness in life
Loneliness
Finding lost valuables
Friends versus money
Questionnaires or polls
Socializing
Mood swings
Punctuality
Public speaking
Compassion to animals
Eating to survive
Criminal damage
Borrowed stuff
Elections
Children
Final judgement
Loss of interest
Cheating in school
Health
Number of friends
Responding to a serious letter
Unpopularity
Getting angry
Small - big dogs
New environment
Internet usage
Reliability
Self-criticism
Keeping promises
Hypochondria
Knowing the right people
Achievements
Smoking
Alcohol
Healthy eating
Flying
Storm
Darkness
Heights
Spiders
Snakes
Rats
Ageing
Dangerous dogs
Fear of public speaking
Music
Slow songs or fast songs
Dance
Folk
Country
Classical music
Musical
Pop
Rock
Metal or Hardrock
Punk
Hiphop, Rap
Reggae, Ska
Swing, Jazz
Rock n roll
Alternative
Latino
Techno, Trance
Opera
History
Psychology
Politics
Mathematics
Physics
Internet
PC
Economy Management
Biology
Chemistry
Reading
Geography
Foreign languages
Medicine
Law
Cars
Art exhibitions
Religion
Countryside, outdoors
Dancing
Musical instruments
Writing
Passive sport
Active sport
Gardening
Celebrities
Shopping
Science and technology
Theatre
Fun with friends
Adrenaline sports
Pets
*************************************

## Importing Modules

In the following cell, import all the modules you think are necessary for doing the homework, **among the ones listed and used during the laboratories of the course**.
No extra modules are allowed for reproducibility.

In [68]:
# DO NOT IMPORT NUMPY
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, silhouette_samples
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from matplotlib.lines import Line2D
import yaml
from IPython.display import display  # to display variables in a "nice" way

try:
    from yaml import CLoader as Loader, CDumper as Dumper
except ImportError:
    from yaml import Loader, Dumper

## Exercise 1. Preparing the Dataset

In the cells below, do the following operations:
1. load the dataset "_responses_hw.csv_";
2. create a working dataframe extracting from _responses_hw.csv_ the columns corresponding to the variables in _these_features_, and randomly selecting 2/3 of the rows. Let us call this dataframe _X_df_;
3. analyze the obtained dataframe and performing cleansing/encoding operations.

In [88]:
#just loading the dataset

url = "https://raw.githubusercontent.com/fabiolauro/PCA_CLA_Project/refs/heads/main/responses_hw.csv"

responses_df = pd.read_csv(url)
rows = responses_df.shape[0]
responses_df_rows = responses_df.sample(round(2*rows/3), replace = False, random_state= random_seed)

#now let's take only the columns we are interested in

X_df_raw = responses_df_rows[these_features]

display(X_df_raw)

,Charity,Giving,Assertiveness,Dreams,Getting up,Workaholism,Happiness in life,Loneliness,Finding lost valuables,Friends versus money,...,Passive sport,Active sport,Gardening,Celebrities,Shopping,Science and technology,Theatre,Fun with friends,Adrenaline sports,Pets
577,2.0,4.0,4.0,3,5.0,1.0,3.0,2.0,3.0,5.0,...,3.0,3.0,1.0,2.0,5.0,2.0,3.0,5.0,5.0,5.0
365,3.0,3.0,4.0,4,2.0,3.0,4.0,2.0,2.0,5.0,...,4.0,3.0,1.0,1.0,3.0,2.0,3.0,4.0,5.0,1.0
348,1.0,4.0,3.0,5,3.0,3.0,5.0,3.0,2.0,5.0,...,1.0,5.0,5.0,1.0,4.0,4.0,5.0,5.0,4.0,4.0
518,2.0,3.0,5.0,4,2.0,3.0,3.0,4.0,4.0,3.0,...,3.0,5.0,1.0,3.0,4.0,2.0,2.0,5.0,1.0,5.0
942,2.0,1.0,2.0,3,1.0,1.0,3.0,5.0,1.0,3.0,...,4.0,5.0,2.0,5.0,4.0,1.0,3.0,4.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,1.0,1.0,5.0,4,1.0,2.0,3.0,1.0,1.0,3.0,...,1.0,5.0,1.0,1.0,2.0,3.0,NaN,3.0,5.0,NaN
574,1.0,3.0,3.0,3,5.0,2.0,3.0,3.0,3.0,3.0,...,5.0,5.0,3.0,3.0,4.0,4.0,2.0,5.0,4.0,4.0
944,2.0,2.0,2.0,4,5.0,2.0,4.0,2.0,1.0,4.0,...,4.0,5.0,2.0,3.0,5.0,4.0,5.0,5.0,3.0,5.0
412,1.0,5.0,5.0,3,5.0,1.0,4.0,5.0,1.0,1.0,...,1.0,2.0,1.0,1.0,5.0,1.0,3.0,4.0,1.0,5.0
281,2.0,2.0,2.0,4,4.0,5.0,3.0,4.0,3.0,5.0,...,5.0,1.0,1.0,1.0,2.0,4.0,2.0,5.0,1.0,5.0

In [65]:
#looking for missing values, cleaning operations

missing_values = X_df_raw.isnull().sum()
missing_values = missing_values.sort_values(ascending=False)

#if we drop all the missing values, we lose about 1/3 of the rows
#we could only drop values for columns with more than a given threshold of missing values, for example 5


#display(X_df)

In [38]:
missing_values = missing_values[missing_values > 2]

print(missing_values)

Passive sport             11
Chemistry                  8
Theatre                    8
Smoking                    6
Punk                       6
Science and technology     6
Rock n roll                6
Reggae, Ska                5
Friends versus money       5
Alternative                5
Countryside, outdoors      5
Reading                    5
Writing                    5
Swing, Jazz                5
Getting angry              4
Self-criticism             4
Hiphop, Rap                4
PC                         4
Foreign languages          4
Biology                    4
Classical music            4
Psychology                 4
Alcohol                    4
Country                    4
Fun with friends           4
Giving                     4
Criminal damage            4
Finding lost valuables     4
Happiness in life          4
Small - big dogs           4
Geography                  4
Active sport               4
Hypochondria               3
Getting up                 3
Workaholism                3
Socializing                3
Final judgement            3
Techno, Trance             3
Adrenaline sports          3
Pets                       3
Gardening                  3
Religion                   3
Economy Management         3
Pop                        3
Metal or Hardrock          3
Folk                       3
Rock                       3
Cars                       3
Healthy eating             3
Spiders                    3
dtype: int64

LEGGERE COSA C'E' SCRITTO SOTTO!

In [43]:
missing_values = missing_values[missing_values>3]

how_many = np.sum(missing_values)
print(how_many)
#it shows that the missing values corresponding to variables with more than 3 missing values are 162, out of 281.
#We could consider to fill those values, which won't affect sensibly the variance in the data since we are filling just a few values per variable.
#We can talk about it with the professor. For now we see the results obtained by dropping all the missing values and
#eventually just fix this part of the code

162

In [89]:

#removing missing values
X_df_raw = X_df_raw.dropna()
display(X_df_raw)

,Charity,Giving,Assertiveness,Dreams,Getting up,Workaholism,Happiness in life,Loneliness,Finding lost valuables,Friends versus money,...,Passive sport,Active sport,Gardening,Celebrities,Shopping,Science and technology,Theatre,Fun with friends,Adrenaline sports,Pets
577,2.0,4.0,4.0,3,5.0,1.0,3.0,2.0,3.0,5.0,...,3.0,3.0,1.0,2.0,5.0,2.0,3.0,5.0,5.0,5.0
348,1.0,4.0,3.0,5,3.0,3.0,5.0,3.0,2.0,5.0,...,1.0,5.0,5.0,1.0,4.0,4.0,5.0,5.0,4.0,4.0
518,2.0,3.0,5.0,4,2.0,3.0,3.0,4.0,4.0,3.0,...,3.0,5.0,1.0,3.0,4.0,2.0,2.0,5.0,1.0,5.0
618,4.0,4.0,5.0,3,3.0,4.0,4.0,5.0,1.0,3.0,...,5.0,1.0,1.0,4.0,3.0,3.0,5.0,5.0,5.0,1.0
432,1.0,1.0,4.0,3,5.0,3.0,3.0,4.0,4.0,4.0,...,4.0,3.0,1.0,1.0,1.0,5.0,3.0,5.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,3.0,1.0,5.0,4,1.0,4.0,4.0,2.0,4.0,4.0,...,2.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,4.0,1.0
574,1.0,3.0,3.0,3,5.0,2.0,3.0,3.0,3.0,3.0,...,5.0,5.0,3.0,3.0,4.0,4.0,2.0,5.0,4.0,4.0
944,2.0,2.0,2.0,4,5.0,2.0,4.0,2.0,1.0,4.0,...,4.0,5.0,2.0,3.0,5.0,4.0,5.0,5.0,3.0,5.0
412,1.0,5.0,5.0,3,5.0,1.0,4.0,5.0,1.0,1.0,...,1.0,2.0,1.0,1.0,5.0,1.0,3.0,4.0,1.0,5.0
281,2.0,2.0,2.0,4,4.0,5.0,3.0,4.0,3.0,5.0,...,5.0,1.0,1.0,1.0,2.0,4.0,2.0,5.0,1.0,5.0

In [90]:
print(X_df_raw["Internet usage"][:20])

577             few hours a day
348             few hours a day
518     less than an hour a day
618             most of the day
432             few hours a day
896             few hours a day
29              few hours a day
770     less than an hour a day
688             few hours a day
1000            few hours a day
81              few hours a day
721     less than an hour a day
869             few hours a day
866             most of the day
978             few hours a day
480             few hours a day
268             few hours a day
30              few hours a day
447     less than an hour a day
59              few hours a day
Name: Internet usage, dtype: object

In [85]:
#we have to transform the categorical variables into numerical

cat_variables = X_df_raw.select_dtypes(include=['object', 'category']).columns

print(cat_variables)

#we have to create functions that map categorical values into integers
smoking = {
    "never smoked": 1,
    "tried smoking": 2,
    "former smoker": 3,
    "current smoker":4
}

drinking = {
    "never": 1,
    "social drinker": 2,
    "drink a lot": 3
}

punctuality = {
    'early': 1,
    "on time": 2,
    "late": 3
}

internet = {
    'no time at all': 1,
    'less than an hour a day': 2,
    'few hours a day': 3,
    'most of the day': 4
}

Index(['Punctuality', 'Internet usage', 'Smoking', 'Alcohol'], dtype='object')

In [94]:
#let's see if this works
X_df_trial = X_df_raw.copy()

X_df_trial['Internet usage'] = X_df_trial['Internet usage'].map(internet)
X_df_trial['Punctuality'] = X_df_trial['Punctuality'].map(punctuality)
X_df_trial['Smoking'] = X_df_trial['Smoking'].map(smoking)
X_df_trial['Alcohol'] = X_df_trial['Alcohol'].map(drinking)


print(X_df_raw["Alcohol"], X_df_trial["Alcohol"])
#IT WORKS!

577    social drinker
348             never
518    social drinker
618    social drinker
432       drink a lot
            ...
747    social drinker
574    social drinker
944    social drinker
412             never
281       drink a lot
Name: Alcohol, Length: 495, dtype: object 577    2
348    1
518    2
618    2
432    3
      ..
747    2
574    2
944    2
412    1
281    3
Name: Alcohol, Length: 495, dtype: int64

## Exercise 2. Analyzing the Variance and the PCs

In the cells below, do the following operations:
1. create two new dataframes from _X_df_ applying a StandardScaler and a MinMaxscaler. Call these new dataframes as _Xstd_df_ and _Xmm_df_, respectively;
2. compute the variance of all the features in _X_df_, _Xstd_df_, and _Xmm_df_ and **comment the results**;
3. compute all the $n$ Principal Components (PCs) for each dataset _X_df_, _Xstd_df_, and _Xmm_df_. Then, visualize the curves of the cumulative explained variances and **comment the results**.

## Exercise 3. Dimensionality Reduction and PC Interpretation

In the cells below, do the following operations:
1. For each one of the two dataframes _Xstd_df_, and _Xmm_df_, compute a new PCA for performing a dimensionality reduction with respect to $m$ dimensions. The value of $m$ must be $$m = \min\{m', 5\}\,,$$ where $m'$ is the value required for obtaining $33\%$ of the total variance.
2. For both the cases, visualize all the PCs and give a name/interpretation to them. **Comment and motivate your interpretations**. If possible, **compare the differences among the results obtained** for _Xstd_df_ and _Xmm_df_.
3. Perform the score graph for both the cases (_std_ and _mm_). If $m>3$, plot the score graph with respect to the first 3 PCs. All the **plots must show the names of the PCs on the axes** for better understanding the results.
4. **Optional:** plot more score graphs, coloring the dots with respect to any label in the list _labels_ that you believe can be interesting. **Comment and analyze this optional plots**.

## Exercise 4. $k$-Means

In the cells below, do the following operations:
1. For each one of the two datasets (_std_ and _mm_), run the $k$-Means for clustering the data. In particular, **use the silohuette score for identify the best value for $k\in\{3, \ldots, 10\}$**.
2. Plot the score graphs of exercise 3.3, adding the centroids of the cluster.
3. Observing the centroids coordinates in the PC space, **give a name/interpretation to them**, exploiting the names you assigned to the PCs. **Comment and motivate your interpretations**.

## Exercise 5. Cluster Evaluations

In the cells below, do the following operations:
1. For each one of the two datasets (_std_ and _mm_), perform an **external evaluation** of the clustering obtained at exercise 4.1 with respect to one or more labels in the list _labels_. **Comment the results, comparing the evaluation with the interpretation you gave at exercise 4.3**. 
2. For each one of the two datasets (_std_ and _mm_), perform an **internal evaluation** of each cluster, with respect to the silohuette score. **Comment the results**.